<component name="ArtifactManager">
  <artifact type="war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="archive" name="web.war">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="_08_SpringWebMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.19" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="_08_SpringWebMVC/web/Web" />
    </root>
  </artifact>
</component>